{% extends "traverse/layout.html" %}
{% block title %}Traverse > API Swagger{% endblock %}
    {% block body_block %}
<div class="container">
 <div class="jumbotron">
  <h1 class="display-4">Coming soon!</h1>
  <p class="lead">This is a API info page, Which is aimed to provide job dependency info in REST API. </p>
  <hr class="my-4">
  <p>If someone want to run jobs part of Automation and they would like to find the all required jobs in order to trigger . They can consume this API to get required info.</p>
  <p>Thank you for visiting. Please check back us later.</p>

     <a class="btn btn-lg button-magenta" href="#" role="button">Learn more</a>
</div>
</div>
    {% endblock %}


