{% extends "traverse/layout.html" %}
{% block title %}Traverse > API Swagger{% endblock %}
    {% block body_block %}
<div class="container">
 <div class="jumbotron">
  <h1 class="display-4">Disabled Jobs - <small>Coming soon!</small></h1>
    <p class="lead">This is a Disabled Job  info page, Which is aimed to provide all Disabled jobs info with adequate information . </p>
  <hr class="my-4">

  <p>Thank you for visiting. Please check back us later.</p>

     <a class="btn btn-lg button-magenta" href="#" role="button">Learn more</a>
</div>
</div>
    {% endblock %}


