{% extends "traverse/layout.html" %}
{% block title %}Traverse > coming soon{% endblock %}
{% load staticfiles %}
 {% block stylesheet %}

{% endblock %}

{% block body_block %}
<div class="container">
 <div class="jumbotron">
 <h1 class="display-4">Orphaned Jobs - <small>Coming soon!</small></h1>
    <p class="lead">This is a Orphaned Job  info page, Which is aimed to provide  all Orphaned jobs info with adequate information . </p>
  <hr class="my-4">

  <p>Thank you for visiting. Please check back us later.</p>

     <a class="btn btn-lg button-magenta" href="#" role="button">Learn more</a>
</div>
</div>

 {% endblock %}


